.uapaginationitem {
  display: inline-block;
  padding: 0 var(--spacing-text);
}

.uapaginationitem__text {
  border: 1px solid var(--color-border-primary);
  transform: rotate(180deg);
}

.uapaginationitem__link {
  transition: transform 0.5s ease-in-out;
}

.uapaginationitem__link:hover {
  transform: rotate(180deg) scale(2);
}
