.uasearcharea__dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.uasearcharea__dialog-close {
  height: var(--size-icon);
  position: absolute;
  right: var(--spacing-icon);
  top: var(--spacing-icon);
  width: var(--size-icon);
}

.uasearcharea__dialog-close::before, .uasearcharea__dialog-close::after {
  background-color: var(--color-surface-primary);
  content: ' ';
  height: 45px;
  left: 15px;
  position: absolute;
  top: -2px;
  width: 10px;
}

.uasearcharea__dialog-close::before {
  transform: rotate(45deg);
}

.uasearcharea__dialog-close::after {
  transform: rotate(-45deg);
}

.uasearcharea__dialog-fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: var(--spacing-group);
  padding: 0;
}

.uasearcharea__dialog-group {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-text);
}

.uasearcharea__dialog-wrapper {
  border: 0;
  display: flex;
  gap: var(--spacing-element);
}

.uasearcharea__dialog-input {
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid var(--color-border-primary);
  color: var(--color-text-primary);
  font-size: larger;
  margin-bottom: var(--spacing-element);
  max-width: 800px;
  width: 75vw;
}

.uasearcharea__dialog-input::placeholder {
  color: var(--color-text-secondary);
}

.uasearcharea__dialog-select {
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid var(--color-border-primary);
  color: var(--color-text-primary);
  font-size: larger;
  margin-bottom: var(--spacing-element);
  max-width: 800px;
  text-indent: 0;
  width: 75vw;
}

.uasearcharea__dialog-select--unselected {
  color: var(--color-text-secondary);
}

.uasearcharea__dialog-multichoice {
  margin: 0;
  padding: 0;
}

.uasearcharea__dialog-label {
  color: var(--color-text-secondary);
}

.uasearcharea__dialog-label:not(:last-child) {
  padding-right: var(--spacing-group);
}

.uasearcharea__dialog-reset {
  float: right;
  margin-right: var(--spacing-group);
}

.uasearcharea__dialog-submit {
  float: right;
}
