.uasearchareasummary {
  --spacing-summary-element: 30px;

  border: 1px solid var(--color-border-primary);
  display: flex;
  font-size: smaller;
  gap: var(--spacing-summary-element);
  margin-bottom: var(--spacing-summary-element);
  margin-left: auto;
  padding: var(--spacing-text);
  width: max-content;
}

@media screen and (width <= 800px) {
  .uasearchareasummary {
    align-items: end;
    flex-direction: column-reverse;
    gap: var(--spacing-element-mobile);
  }
}

.uasearchareasummary__buttons {
  display: flex;
  gap: var(--spacing-summary-element);
}

@media screen and (width <= 800px) {
  .uasearchareasummary__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
