.uasearchresults__item a {
  display: inline-block;
  margin-bottom: var(--spacing-element);
  transition: transform 0.5s ease-in-out;
}

.uasearchresults__item a:hover {
  transform: translateX(10px);
}

.uasearchresults__item-separator {
  color: var(--color-text-secondary);
}

.uasearchresults__notfound {
  margin-top: var(--spacing-group);
}
