:root {
  --spacing-element: 20px;
  --spacing-element-link: 5px;

  --color-text-primary: white;
  --color-background-primary: black;
  --color-background-secondary: #2d2d2d;
}

html,
body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: 'Space Mono', 'Helvetica Neue', sans-serif;
  margin: 0 var(--spacing-element);
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: cell;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

a:hover {
  background-color: var(--color-background-secondary);
}

main {
  margin: 0 auto;
  max-width: 1200px;
}
