.uaheader {
  border-bottom: 5px solid white;
  box-sizing: content-box;
  height: 80px;
  padding: 20px 0;
}

.ualogo {
  position: absolute;
}

.uanav ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  list-style: none;
  padding: 0;
}
