.uahome__quote {
  margin: var(--spacing-element) 0;
  text-align: right;
}

.uahome__quote q {
  font-style: italic;
}

.uahome__quote footer {
  font-size: smaller;
  margin-top: var(--spacing-text);
}
